RewriteEngine on
RewriteCond %{HTTP_HOST} ^landings-data-export\.shaio\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.landings-data-export\.shaio\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/www\.shaio\.org\/landings-data-export\/" [R=301,L]

<Files 403.shtml>
order allow,deny
allow from all
</Files>